<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= artist.name %></title>
</head>
<body>
    <div id="artistContainer">
        <h1><%= artist.name %></h1>
        <h2>Discography</h2>
        <div class="album-grid">
            <% albums.forEach(album => { %>
                <div class="albumDisplay">
                    <img src="<%= album.album_cover %>">
                    <h3><%= album.title %></h3>
                    <p><%= album.release_year %></p>
                    <a href="/albums/<%= album.id %>" class="more-info-btn">More info</a>
                </div>
            <% }) %>
        </div>
        <a href="/" class="more-info" style="display:inline-block; margin-top:30px;">Back to Home</a>
    </div>
</body>
</html>